@import "tailwindcss";


@theme {
  /* يمكنك هنا تعديل الشاشات الافتراضية أو إضافة شاشات جديدة */
  --breakpoint-xs: 480px;  /* إضافة شاشة مخصصة للموبايلات الصغيرة جداً */
  
  /* تعديل الشاشات الافتراضية إذا أردت مقاسات مختلفة عن الستاندرد */
  --breakpoint-sm: 640px;  
  --breakpoint-md: 768px;  
  --breakpoint-lg: 1024px; 
  --breakpoint-xl: 1280px; 
}


